.root{
  position:"fixed";
  text-align:center;
  margin:"auto";
  padding:"10px";
  display:"inline-block";
  color:"primary";
  width: "50ch";
  left: "25%";

};

.label{
width:"75%";
display:"inline-block";
margin-right:"10px";
font-size:"16px";
text-align:"center";
}
.input{
margin:"10px auto";
padding:"5px";
width:"75%";
text-align:"center";
}

.div{
margin:" auto",

}
